<form action="/search" method="GET" class="form-inline mb-3">
    <div class="form-group mr-2">
        <input type="text" name="query" class="form-control" placeholder="Search for an album..." required>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>