<h1>Add new album</h1>

<form action="/add" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" placeholder="Enter album title..." required>
    </div>

    <div class="form-group">
        <label for="band">Band</label>
        <input type="text" name="band" class="form-control" placeholder="Enter band..." required>
    </div>

    <div class="form-group">
        <label for="genre">Genre</label>
        <select class="form-control" name="genre" required>
            <option value="rock">Rock</option>
            <option value="metal">Metal</option>
            <option value="pop">Pop</option>
            <option value="jazz">Jazz</option>
            <option value="house">House</option>
            <option value="contry">Country</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" name="year" class="form-control" placeholder="Enter year..." min="4" max="4" required>
    </div>

    <div class="form-group">
        <label for="producer">Producer</label>
        <input type="text" name="producer" class="form-control" placeholder="Enter producers (ex. John Doe, Will Smith)"
            required>
    </div>

    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" name="label" class="form-control" placeholder="Enter label..." required>
    </div>

    <div class="form-group">
        <label for="device">Device</label>
        <select class="form-control" name="device" required>
            <option value="cd">CD</option>
            <option value="lp">LP</option>
            <option value="cassette">Cassette</option>
            <option value="digital">Digital</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-group" id="tracks">
        <label>Tracks</label>

        <table class="table">
            <tr>
                <td class="track-nr">1</td>
                <td><input type="text" name="track" class="form-control" placeholder="Name..." required></td>
                <td><input type="text" name="length" class="form-control" placeholder="Length..." required></td>
                <td><button class="btn btn-danger remove-track">Remove</button></td>
            </tr>
        </table>

        <button id="add-track" class="btn btn-secondary">Add track</button>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>

<script src="/js/addTrack.js"></script>