<h1>Add new album</h1>

<form action="/add" method="POST">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="albumTitle">Title</label>
                <input type="text" name="albumTitle" class="form-control text-capitalize" placeholder="The Great Album"
                    required>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="band">Band</label>
                <input type="text" name="band" class="form-control text-capitalize" placeholder="John Doe" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="genre">Genre</label>
                <input type="text" name="genre" class="form-control text-capitalize" placeholder="Rock" required>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" name="year" class="form-control" placeholder="1994" min="4" max="4" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="label">Label</label>
                <input type="text" name="label" class="form-control text-capitalize" placeholder="Hello World Records"
                    required>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="device">Device</label>
                <input type="text" name="device" class="form-control text-capitalize" placeholder="Cd" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="producers">Producers</label>
        <input type="text" name="producers" class="form-control text-capitalize" placeholder="John Doe, Will Smith"
            required>
    </div>

    <div class="form-group" id="tracks">
        <label>Tracks</label>

        <button id="add-track" class="btn btn-link float-right">Add another track...</button>

        <table class="table">
            <tr>
                <td class="track-nr">1</td>
                <td><input type="text" name="trackName" class="form-control text-capitalize" placeholder="Hello World!"
                        required></td>
                <td><input type="time" name="trackLength" class="form-control" min="00:01" required></td>
                <td><button class="btn btn-danger remove-track"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
        </table>
    </div>

    <button type="submit" class="btn btn-success">Add</button>
    <a class="btn btn-dark" href="/">Cancel</a>
</form>

<script src="/js/addTrack.js"></script>