<h1>Add new album</h1>

<form action="/add" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" placeholder="Enter album title...">
    </div>

    <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" name="artist" class="form-control" placeholder="Enter artist...">
    </div>

    <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" name="genre" class="form-control" placeholder="Enter genre...">
    </div>

    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" name="year" class="form-control" placeholder="Enter year...">
    </div>

    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" name="label" class="form-control" placeholder="Enter label...">
    </div>

    <div class="form-group">
        <label for="device">Device</label>
        <input type="text" name="device" class="form-control" placeholder="Enter device...">
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>