<h1>Search results</h1>

{{#if albums}}
<div class="row justify-content-center">
    {{#each albums}}
    <div class="card col-sm-5 m-2">
        <div class="card-body">
            <h5 class="card-title"><i class="fab fa-itunes-note"></i> {{albumTitle}}</h5>
            <p class="card-text text-capitalize"><i class="fas fa-user-alt"></i> {{band}}</p>
            <a href="/view/{{id}}">Details <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Could not find any matching albums...</p>
{{/if}}

<script src="/js/toggleAdvancedSearch.js"></script>